version: '3.9'

services:
  paradise_mysql:
    image: mysql
    container_name: paradise_mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=Trankhanh47
    volumes:
      - database_mysql:/var/lib/mysql
    networks:
      - paradise_network

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - paradise_network

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: paradise-app-api
    ports:
      - "8080:8080"
    networks:
      - paradise_network
    depends_on:
      #- paradise_mysql
      - redis
    #command: ["/app/wait-for-it.sh", "paradise-mysql:3306", "--", "/app/start.sh"]
volumes:
  database_mysql:

networks:
  paradise_network:
    driver: bridge
